html,
body {
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
}

body {
    display: flex;
}

.center {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-grow: 1;
}

.circle {
    position: absolute;
    border-radius: 50%;
    width: 200px;
    height: 200px;
    background-color: #fff28f;
    z-index: 1;
    animation: pulsate 3s linear infinite;
}

.circle-outer {
    position: absolute;
    border-radius: 50%;
    width: 200px;
    height: 200px;
    background-color: yellow;
    animation: pulsate-outer 3s linear infinite;
}

#reset {
    align-self: flex-end;
}

@-webkit-keyframes pulsate {
    0% {
        width: 200px;
        height: 200px;
    }
    25% {
        width: 250px;
        height: 250px;
    }
}

@-webkit-keyframes pulsate-outer {
    0% {
        width: 200px;
        height: 200px;
        opacity: 100%;
    }
    25% {
        width: 250px;
        height: 250px;
        opacity: 100%;
    }
    50% {
        width: 2000px;
        height: 2000px;
        opacity: 0;
    }
    100% {
        width: 200px;
        height: 200px;
        opacity: 0;
    }
}
