html,
body {
    width: 100%;
    height: 100%;
    overflow: hidden;
    padding: 0;
    margin: 0;
    background-color: black;
    font-family: sans-serif;
}

body {
    font-size: 2rem;
    color: white;
    text-align: center;
    display: flex;
}

.center {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-grow: 1;
}

.joke {
    z-index: 2;
}

.activated {
    flex-grow: 1;
    align-self: center;
}

.circle-pulse {
    position: absolute;
    border-radius: 50%;
    width: 200px;
    height: 200px;
    background-color: #c15c20;
    z-index: 1;
    animation: pulsate 3s linear infinite;
}

.circle-pulse-outer {
    position: absolute;
    border-radius: 50%;
    width: 200px;
    height: 200px;
    background-color: #d08355;
    animation: pulsate-outer 3s linear infinite;
}

.circle {
    width: 0;
    height: 0;
    position: absolute;
    border-radius: 50%;
    background-color: #c15c20;
    transition: width .2s, height .2s;
}

.smiles {
    height: 60vh;
    display: flex;
}

.smile-score {
    width: 33%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.score {
    margin-top: 2rem;
}

.smile {
    flex-grow: 1;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

.smile1 {
    background-image: url(images/smile1.jpg);
}

.smile2 {
    background-image: url(images/smile2.jpg);
}

.smile3 {
    background-image: url(images/smile3.jpg);
}

#reset {
    align-self: flex-end;
}

@-webkit-keyframes pulsate {
    0% {
        width: 200px;
        height: 200px;
    }
    25% {
        width: 250px;
        height: 250px;
    }
}

@-webkit-keyframes pulsate-outer {
    0% {
        width: 200px;
        height: 200px;
        opacity: 100%;
    }
    25% {
        width: 250px;
        height: 250px;
        opacity: 100%;
    }
    50% {
        width: 100vh;
        height: 100vh;
        opacity: 0;
    }
    100% {
        width: 200px;
        height: 200px;
        opacity: 0;
    }
}
